/* css reset */
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body {          
    font-family: sans-serif;  
}

/* utils */

.container {              
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.row>* {
    padding: 0 12px;
}

/* header */

.header {
    text-align: center;
    padding: 20px;
}

.header-title {
    color: rgb(207, 10, 10);
    margin: 30px;
}


/* debug */
.debug .container {
    border: 2px solid black;
    border-radius: 10px;
}

.debug .row {
    border: 2px solid red;
    padding: 24px;
    border-radius: 10px;
}

.debug .row {
    border: 2px solid red;
    padding: 24px;
    border-radius: 10px;
}

.debug .row>* {
    border: 2px solid cornflowerblue;
    padding: 24px;
    border-radius: 10px;
}